.row {
    color: white;
    margin-left: 20px;
  }
  
  .row__posters {
    display: flex;
    overflow-y: hidden;
    overflow-x: scroll;
    padding: 20px;
  }
  
  .row__posters::-webkit-scrollbar {
    display: none;
  }
  /* hide scrollbar for IR,Edge and firefox */
.row__posters{
    -ms-overflow-style:none;/*IE and Edge*/
    scrollbar-width:none ;/*firefox*/
 }
  .row__poster {
    object-fit: contain;
    margin-right: 10px;
    max-height: 100px;
    width: 100%;
    transition: transform 450ms;
  }
  
  .row__poster:hover {
    transform: scale(1.08);
    opacity: 1;
  }
  
  .row__posterLarge {
    max-height: 250px;
  }
  
  .row__posterLarge:hover {
    transform: scale(1.09);
    opacity: 1;
  }
  