.nav {
    position: fixed;
    top: 0;
    padding: 20px;
    width: 100%;
    height: 30px;
    z-index: 1;
  
    /* Animations */
    transition-timing-function: ease-in;
    transition: all 0.5s;
  }
  
  .nav__black {
    background-color: #111;
  }
  
  .nav__contents {
    display: flex;
    justify-content: space-between;
  }
  
  .nav__logo {
    position: fixed;
    left: 0;
    width: 80px;
    object-fit: contain;
    padding-left: 20px;
  }
  
  .nav__avatar {
    position: fixed;
    right: 20px;
    object-fit: contain;
    width: 30px;
    height: 30px;
  }